<template>
  <v-container>
    <v-row>
      <!--
      <v-col cols="3">
        <v-select
          v-model = "valueStyleArbol"
          :items = "optionsArbol"
          label="Tipo Árbol"
        ></v-select>
        <v-select
          v-model = "valueStyleUnion"
          :items = "optionsUnion"
          label="Tipo ramas"
        ></v-select>
        <v-btn
          depressed
          color="primary white--text"
          @click="guardarSegmentacion()"
        >
          Guardar Segmentación
        </v-btn>
        <pre>{{treeData}}</pre>
      </v-col>
      -->

      <v-col cols="2">
        <v-btn
          depressed
          color="primary white--text"
          @click="guardarSegmentacion()"
        >
         Guardar Segmentación
        </v-btn>
        <pre>{{treeData}}</pre>
      </v-col>
      <v-col cols="10 arbolT">
        <tree ref="tree" 
            :data="treeData" 
            :identifier="getId" 
            node-text="name" 
            :duration="duracion" 
            :layoutType="valueStyleArbol? valueStyleArbol : 'horizontal'" 
            :type="valueStyleUnion? valueStyleUnion : 'tree'" 
            :zoomable="zoom" 
            :selected="seleccionado"
            :marginX = marginX
            :marginY = marginY
            :leafTextMargin = leafMarginX
            :nodeTextMargin = nodeTextMar
            >
          <template #node="{data, node: {depth}}">
            <template v-if="data.children">
              <circle r="6" :stroke="'#1d912a'">
                <title>{{data.text}} {{depth}}</title>
              </circle>
            </template>
            <template v-else>
              <circle r="6" :stroke="'#066911'">
                <title>{{data.text}} {{depth}}</title>
              </circle>
            </template>
          </template>
          <template #popUp="{data, node}">
            <div class="btn-group-vertical">
              <v-btn
                class="mx-1"
                outlined
                fab
                small
                color="primary"
                v-if="node.data.tipo != -1"
                @click="agregarHoja(data, node)"
              >
              <v-icon>mdi-plus</v-icon>
              </v-btn>
              <v-btn
                class="mx-1"
                outlined
                fab
                small
                color="red darken-3"
                v-if="node.depth != 0"
                @click="quitarHoja(data, node)"
              >
                <v-icon>mdi-minus</v-icon>
              </v-btn>
              <v-btn
                class="mx-1"
                outlined
                fab
                small
                color="yellow darken-3"
                v-if="node.depth != 0"
                @click="verRama(node)"
              >
                <v-icon>mdi-eye</v-icon>
              </v-btn>
              <v-btn
                class="mx-1"
                outlined
                fab
                small
                color="deep-purple darken-4"
                v-if="node.depth != 0 && node.data.children.length == 0 && node.data.tipo != -1"
                @click="definirIdentBranch(data,node)"
              >
                <v-icon>mdi-check</v-icon>
              </v-btn>
            </div>
          </template>
        </tree>
      </v-col>
      <v-dialog
        v-model="dialogCaract"
        persistent
        max-width="900px">
        <v-card class="align-center">
          <v-card-title>
            Característica
          </v-card-title>
          <v-card-text>
            <v-stepper v-model="e1">
              <v-stepper-header>
                <v-stepper-step
                  :complete="e1 > 1"
                  step="1"
                >
                  Selección
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                  :complete="e1 > 2"
                  step="2"
                >
                  Definición
                </v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-card
                    class="mb-12"
                    height="200px"
                  >
                    <v-select
                    v-model = "valuesCaracteristicas"
                    :items = "optionsCaracteristicas"
                    :item-text="'name'"
                    :item-value="'id'"
                    label="Tipo:"
                    @input="selectCaracteristica"
                    ></v-select>
                  </v-card>
                  <v-btn
                    color="primary"
                    @click="e1 = 2"
                    v-if ="botonPaso2 == 1"
                  >
                    Continuar
                  </v-btn>

                  <v-btn 
                    @click="dialogCaract = !dialogCaract"
                    text>
                    Cancel
                  </v-btn>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <v-card
                    class="mb-12"
                    height="200px"
                  >
                  <v-container>
                    <v-row v-for="caract in caracteristicas" :key="caract.id" v-bind:class="{ocultar: caract.activo == 0}">
                      <v-col cols="12" v-if="caract.activo == 1">
                        <div v-if="caract.tipo == 1">
                          <v-select
                          v-model = "valueDefinicion"
                          :items = "optionsDefinicion"
                          :item-text="'name'"
                          :item-value="'valor'"
                          label="Definición:"
                          ></v-select>
                        </div>
                        <div v-if="caract.tipo == 2">
                          <v-range-slider
                            v-model="range"
                            :max="max"
                            :min="min"
                            hide-details
                            class="align-center"
                          >
                            <template v-slot:prepend>
                              <v-text-field
                                :value="range[0]"
                                class="mt-0 pt-0"
                                hide-details
                                single-line
                                type="number"
                                style="width: 60px"
                                @change="$set(range, 0, $event)"
                              ></v-text-field>
                            </template>
                            <template v-slot:append>
                              <v-text-field
                                :value="range[1]"
                                class="mt-0 pt-0"
                                hide-details
                                single-line
                                type="number"
                                style="width: 60px"
                                @change="$set(range, 1, $event)"
                              ></v-text-field>
                            </template>
                          </v-range-slider>
                        </div>
                      </v-col>
                    </v-row>
                  </v-container>
                  </v-card>

                  <v-btn
                    color="primary"
                    @click="crearHoja"
                  >
                    Guardar
                  </v-btn>

                  <v-btn 
                    @click="dialogCaract = !dialogCaract"
                    text>
                    Cancel
                  </v-btn>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-card-text>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="dialogRama"
        max-width="600px">
        <v-card>
          <v-data-table
            :headers="headers"
            :items="ramaSeleccionada"
            :items-per-page="5"
            class="elevation-1"
          ></v-data-table>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="dialogGuard"
        max-width="400px"
        >
        <v-card>
          <v-card-title>
            Guardado Correctamente!!!!
          </v-card-title>
        </v-card>
      </v-dialog>
      <v-dialog
        v-model="dialogIdent"
        persistent
        max-width="400px"
        >
        <v-card>
        <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="identificador"
                label="Identificador"
                hide-details="auto"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-btn
                color="primary"
                @click="crearIdentificador"
              >
                Guardar
              </v-btn>
              <v-btn 
                @click="dialogIdent = !dialogIdent"
                text>
                Cancel
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
        </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
    <v-row>
      <v-col cols="12"></v-col>
      <v-col cols="11">
      </v-col>
      <v-col cols="1">
        <v-speed-dial
          v-model="fab"
          :top="top"
          :bottom="bottom"
          :right="right"
          :left="left"
          :direction="direction"
          :open-on-hover="hover"
          :transition="transition"
        >
          <template v-slot:activator>
            <v-btn
              v-model="fab"
              color="primary"
              dark
              fab
            >
              <v-icon v-if="fab">
                mdi-close
              </v-icon>
              <v-icon v-else>
                mdi-camera-iris
              </v-icon>
            </v-btn>
          </template>
          <v-btn
            fab
            dark
            small
            color="green"
            @click="guardarSegmentacion()"
          >
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
          <v-btn
            fab
            dark
            small
            color="indigo"
            @click="cambiarStyle()"
          >
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
          <v-btn
            fab
            dark
            small
            color="red"
            @click="cambiarForma()"
          >
            <v-icon>mdi-arrow-all</v-icon>
          </v-btn>
        </v-speed-dial>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { tree } from 'vued3tree'

const removeElement = (arr, element) => {
  const index = arr.indexOf(element)
  if (index === -1) {
    return
  }
  arr.splice(index, 1)
}

export default({
  name: 'arbol',
  data: () => ({
    e1: 1,
    identificador: '',
    botonPaso2: 0,
    nombreHoja: '',
    valueStyleArbol: 'horizontal',
    valueStyleUnion: 'tree',
    valuesCaracteristicas: 0,
    valueDefinicion: '',
    optionsArbol: ['vertical', 'circular', 'horizontal'],
    optionsUnion: [ 'tree', 'cluster'],
    optionsDefinicion: [],
    min: 0,
    max: 100,
    range: [0, 400],
    optionsCaracteristicas: [
      { 
        id: 0,
        name: 'Departamento' 
      },
      {
        id: 1,
        name: 'Días de atraso'
      },
      {
        id: 2,
        name: 'Score'
      },
      {
        id: 3,
        name: 'Segmentación'
      },
      {
        id: 4,
        name: 'Productos'
      },
      {
        id: 5,
        name: 'Foco al Fraude'
      },
      {
        id: 6,
        name: 'Producto de Rescate'
      }
],
    duracion: 0,
    zoom: true,
    posicion: "M190.5..",
    seleccionado: {},
    marginX: 200,
    marginY: 78,
    leafMarginX: 20,
    nodeTextMar: 20,
    dialogCaract: false,
    dialogRama: false,
    dialogIdent: false,
    dialogGuard: false,
    treeData:{
      "name": "Clientes",
      "children": [],
      "tipo": 0,
      "idCaract": -2
    },
    tituloCaracteristica: 'Especifica carácterística.',
    caracteristicas: [
      {
        id: 0,
        tipo: 1,
        activo: 0,
        name: 'Departamento',
        datos: [
          { valor: 16, name: '16' },
          { valor: 3, name: '3' },
          { valor: 1, name: '1' },
          { valor: 4, name: '4' },
          { valor: 6, name: '6' },
          { valor: 5, name: '5' },
          { valor: 19, name: '19' },
          { valor: 24, name: '24' },
          { valor: 21, name: '21' },
          { valor: 7, name: '7' },
          { valor: 12, name: '12' },
          { valor: 40, name: '40' },
          { valor: 26, name: '26' },
          { valor: 33, name: '33' }
        ]
      },
      {
        id: 1,
        tipo: 2,
        activo: 0,
        name: 'Días de atraso',
        datos: [
          {
            name: 'Inicio',
            valor: 34
          },
          {
            name: 'Fin',
            valor: 45
          }
        ]
      },
      {
        id: 2,
        tipo: 2,
        activo: 0,
        name: 'Score',
        datos: [
          {
            name: 'Inicio',
            valor: 12
          },
          {
            name: 'Fin',
            valor: 15
          }
        ]
      },
      {
        id: 3,
        tipo: 1,
        activo: 0,
        name: 'Segmentación',
        datos: [
          {
            valor: 1,
            name: 'G1S1'
          },
          {
            valor:2,
            name: 'G1S2'
          },
          {
            valor: 3,
            name: 'G2S3'
          },
          {
            valor: 4,
            name: 'G2S5'
          },
          {
            valor: 5,
            name: 'G2S6'
          },
          {
            valor: 6,
            name: 'G3S4'
          },
          {
            valor: 7,
            name: 'G3S7'
          },
          {
            valor: 8,
            name: 'G3S9'
          },
          {
            valor: 9,
            name: 'G3S10'
          },
          {
            valor: 10,
            name: 'G4S8'
          },
          {
            valor: 11,
            name: 'G4S11'
          },
          {
            valor: 12,
            name: 'G4S12'
          }
        ]
      },
      {
        id: 4,
        tipo: 1,
        activo: 0,
        name: 'Productos',
        datos: [
          {
            valor: 1,
            name: 'TOR'
          },
          {
            valor: 0,
            name: 'RESTO'
          },
          {
            valor: 2,
            name: 'TODOS'
          }
        ]
      },
      {
        id: 5,
        tipo: 1,
        activo: 0,
        name: 'Foco al Fraude',
        datos: [
          {
            valor: 1,
            name: 'SI'
          },
          {
            valor: 0,
            name: 'NO'
          }
        ]
      },
      {
        id: 6,
        tipo: 1,
        activo: 0,
        name: 'Producto de Rescate',
        datos: [
          {
            valor: 1,
            name: 'SI'
          },
          {
            valor: 0,
            name: 'NO'
          }
        ]
      }
    ],
    hojaSelect: {},
    nodoSelect: {},
    ramaSeleccionada: [],
    headers: [
      {
        text: 'Rama',
        align: 'start',
        sortable: false,
        value: 'name',
      },
      { text: 'Características',
       sortable: false,
       value: 'caracteristicas' }
    ],

    direction: 'top',
      fab: false,
      fling: false,
      hover: false,
      tabs: null,
      top: false,
      right: true,
      bottom: true,
      left: false,
      transition: 'slide-y-reverse-transition'
  }),
  computed: {
    activeFab () {
      switch (this.tabs) {
        case 'one': return { class: 'purple', icon: 'account_circle' }
        case 'two': return { class: 'red', icon: 'edit' }
        case 'three': return { class: 'green', icon: 'keyboard_arrow_up' }
        default: return {}
      }
    },
  },
  mounted () {
    //this.obtenerCaracteristicas()
  },
  watch: {
    top (val) {
      this.bottom = !val
    },
    right (val) {
      this.left = !val
    },
    bottom (val) {
      this.top = !val
    },
    left (val) {
      this.right = !val
    },
  },
  components: {
    tree
  },
  methods: {
    getId (node) {
      return node.id
    },
    inicializaValores () {
      this.identificador = ''
      this.valuesCaracteristicas =  0
      this.selectCaracteristica ()
      this.range = [0, 400]
      this.valueDefinicion= ''
    },
    agregarHoja (data,node) {
      this.hojaSelect = data
      this.nodoSelect = node
      this.inicializaValores()
      this.dialogCaract = true
      if (node.height > 0) {
        this.e1 = 2
        this.valuesCaracteristicas =  node.data.children[0].idCaract
        this.selectCaracteristica ()
      } else {
        this.e1 = 1
      }
    },
    async obtenerCaracteristicas () {
      const requestOptions = {
        method: "GET"
      };
      const response = await fetch("http://localhost:9986/hawkeye/segmentacion/caracteristicas", requestOptions)
      const data = await response.json()
      this.caracteristicas = data
      console.log(this.caracteristicas)
      this.cargarCombo()
    },
    cargarCombo () {
      var i
      for (i = 0; i < this.caracteristicas.length; i++) {
        this.optionsCaracteristicas.push({
          id: this.caracteristicas[i].id,
          name: this.caracteristicas[i].name
        })
      }
    },
    crearHoja () {
      var elementoCaract = this.caracteristicas.find( caract => caract.id === this.valuesCaracteristicas)
      this.dialogCaract = false
      var newData = {}
      switch (elementoCaract.tipo) {
        case 1: 
          newData = {
            name: elementoCaract.name,
            idCaract: this.valuesCaracteristicas,
            children: [],
            tipo: elementoCaract.tipo,
            defCaracterisitica: [this.valueDefinicion]
          }
          break
        case 2:
          newData = {
            name: elementoCaract.name,
            idCaract: this.valuesCaracteristicas,
            children: [],
            tipo: elementoCaract.tipo,
            defCaracterisitica: this.range
          }
          break
        default:
          newData = {
            name: elementoCaract.name,
            idCaract: this.valuesCaracteristicas,
            children: [],
            tipo: elementoCaract.tipo,
            defCaracterisitica: 'Tipo no valido'
          }
      }
      this.hojaSelect.children.push(newData)
    },
    quitarHoja (data, node) {
      const parent = node.parent.data
      removeElement(parent.children, data)
    },
    async guardarSegmentacion() {
      // POST request using fetch with async/await
      const requestOptions = {
        method: "POST",
        body: JSON.stringify(this.treeData), // data can be `string` or {object}!
        headers:{
          'Content-Type': 'application/json'
        }
      };
      const response = await fetch("http://localhost:9090/segmentacion", requestOptions)
      const data = await response.json()
      var totalVuePackages = data
      console.log(totalVuePackages)
    },
    selectCaracteristica () {
      this.botonPaso2 = 0
      if (this.validarRama(this.nodoSelect)) {
        this.activarSeleccionado(this.valuesCaracteristicas)
        this.botonPaso2 = 1
      }
    },
    activarSeleccionado (identificador) {
      var i
      for(i= 0; i < this.caracteristicas.length; i++) {
        if(this.caracteristicas[i].id == identificador) {
          this.caracteristicas[i].activo = 1
          switch (this.caracteristicas[i].tipo) {
            case 1: 
              this.optionsDefinicion = this.caracteristicas[i].datos
              break
            case 2:
              this.text1 = this.caracteristicas[i].datos[0].valor 
              this.text2 = this.caracteristicas[i].datos[1].valor 
              break
            default:
              this.text1 = 0
              this.text2 = 0
          }
        } else {
          this.caracteristicas[i].activo = 0
        }
      }
    },
    verRama(node) {
      this.ramaSeleccionada = []
      this.ramaSeleccionada.push(this.imprimirRama(node)) 
      this.dialogRama = true
    },
    imprimirRama (node) {
      var elementos
      if(node.parent != null){
        this.ramaSeleccionada.push(this.imprimirRama(node.parent))
      }
      elementos = {
        name: node.data.name
        ,caracteristicas: node.data.defCaracterisitica
      }
      return elementos
    },
    validarRama(node) {
      if (node.data.idCaract == -2) {
        return true
      } else {
        if (node.data.idCaract == this.valuesCaracteristicas) {
          return false
        } else {
          if (node.parent != null) {
            return this.validarRama(node.parent)
          }
        }
      }
      return true
    },
    cambiarForma () {
      if (this.valueStyleArbol == 'horizontal') {
        this.valueStyleArbol = 'vertical'
      } else {
        this.valueStyleArbol = 'horizontal'
      }
    },
    cambiarStyle () {
      if (this.valueStyleUnion == 'tree') {
        this.valueStyleUnion = 'cluster'
      } else {
        this.valueStyleUnion = 'tree'
      }
    },
    definirIdentBranch (data,node) {
      this.inicializaValores ()
      this.hojaSelect = data
      this.nodoSelect = node
      this.dialogIdent = true
    },
    crearIdentificador () {
      this.dialogIdent = false
      var newData = {}
      newData = {
        name: this.identificador,
        idCaract: -1,
        children: [],
        tipo: -1
      }
      this.hojaSelect.children.push(newData)
    }
  }
})
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.arbolT{
  width: 100%;
  height: 900px;
  border: 1px solid rgba(154, 154, 154, 0.831);
}
.guardarSegmentacion{
    background-color: #1d912a;
    color:#ffffff;
    border-radius: 4px 4px 4px 4px;
    border: none;
    width: 144px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 56px;
    margin-top: 24px;
}
.guardarSegmentacion:hover{
  background-color: #066911;
  transition:  0.5s ease;
  cursor:pointer;
}
/* This is for documentation purposes and will not be needed in your application */
#create .v-speed-dial {
  position: absolute;
}

#create .v-btn--floating {
  position: relative;
}
</style>
