<template>
  <v-container>
    <v-row class="text-center">
      <v-col>
        <h1 class="font-weight-bold mb-2">
          Segmentación de Cobranza
        </h1>
      </v-col>
      <v-col cols="12">
        <Arbol />
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import Arbol from '@/components/Segmentacion/arbol.vue'

export default({
  data: () => ({
    algo: ''
  }),
  components: {
    Arbol
  }
})
</script>
