<template>
  <div id="contenido">
    <div class="row end-xs barraSup">
      <div class="col-xs-12">
        <Close @click="cerrarModal"/>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 superior">
        <label class="typo__label">Característica:</label>
        <multiselect v-model="valuesCaracteristicas" :options="optionsCaracteristicas" track-by="name" label = "name" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Selecciona Característica" :preselect-first="false" @input="selectCaracteristica"></multiselect>
      </div>
      <div class="col-xs-10"></div>
      <div class="col-xs-12 tituloCaract center-xs">
        {{tituloCaracteristica}}
      </div> 
      <div class="col-xs-12 bloqueCaract middle-xs" v-for="caract in caracteristicas" :key="caract.id" v-bind:class="{ocultar: caract.activo == 0}" >
        <div v-if="caract.activo == 1">
          <div class="row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 multiDefinicion" v-if="caract.tipo == 1">
              <h2>Definición:</h2>
              <multiselect v-model="valueDefinicion" :options="optionsDefinicion" track-by="name" label = "name" :searchable="false" :close-on-select="true" :show-labels="false" placeholder="Selecciona una definición" :preselect-first="false" ></multiselect>
            </div>
            <div class="col-xs-3"></div>
          </div>
          <div class="row center-xs" v-if="caract.tipo == 2">
            <div class="col-xs-6 tituloValores">
              Inicio
            </div>
            <div class="col-xs-6 tituloValores">
              Fin
            </div>
            <div class="col-xs-6">
              <input v-model="text1" class="inputMinMax" type="number" />
            </div>
            <div class="col-xs-6">
              <input v-model="text2" class="inputMinMax" type="number" />
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 center-xs">
        <button class="guardarCaracteristica" v-for="(button, i) in buttons" :key="i" :class="button.class" @click.stop="click(i, $event)">{{button.title}}</button>
      </div>
    </div>
  </div>
</template>
<script>
import EventBus from '@/bus/bus.js'
import Close from 'vue-material-design-icons/Close.vue'
import Multiselect from 'vue-multiselect'
export default {
  props: [
    'botones'
  ],
  components: {
    Multiselect,
    Close
  },
  computed: {
    buttons () {
      return this.botones || this.defaultButtons
    },
    /**
      * Returns FLEX style with correct width for arbitrary number of
      * buttons.
      */
    buttonStyle () {
      return {
        flex: `1 1 ${100 / this.buttons.length}%`
      }
    }
  },
  data () {
    return {
      defaultButtons: [{ title: 'CLOSE' }],
      tituloCaracteristica: 'Especifica carácterística.',
      valuesCaracteristicas: '',
      valueDefinicion: '',
      text1: 0,
      text2: 0,
      optionsDefinicion: [],
      optionsCaracteristicas: [
        { 
          id: 1,
          name: 'Departamento' 
        },
        {
          id: 2,
          name: 'Días de atraso'
        },
        {
          id: 3,
          name: 'Score'
        },
        {
          id: 4,
          name: 'Segmentación'
        }
      ],
      caracteristicas: [
        {
          id: 1,
          tipo: 1,
          activo: 0,
          name: 'Departamento',
          datos: [
            {
              id: 1,
              name: '3'
            },
            {
              id:2,
              name: '4'
            },
            {
              id: 3,
              name: '16'
            }
          ]
        },
        {
          id: 2,
          tipo: 2,
          activo: 0,
          name: 'Días de atraso',
          datos: [
            {
              name: 'Inicio',
              valor: 34
            },
            {
              name: 'Fin',
              valor: 45
            }
          ]
        },
        {
          id: 3,
          tipo: 2,
          activo: 0,
          name: 'Score',
          datos: [
            {
              name: 'Inicio',
              valor: 12
            },
            {
              name: 'Fin',
              valor: 15
            }
          ]
        },
        {
          id: 4,
          tipo: 1,
          activo: 0,
          name: 'Segmentación',
          datos: [
            {
              id: 1,
              name: 'G1S1'
            },
            {
              id:2,
              name: 'G1S2'
            },
            {
              id: 3,
              name: 'G2S3'
            },
            {
              id: 4,
              name: 'G2S5'
            },
            {
              id: 5,
              name: 'G2S6'
            },
            {
              id: 6,
              name: 'G3S4'
            },
            {
              id: 7,
              name: 'G3S7'
            },
            {
              id: 8,
              name: 'G3S9'
            },
            {
              id: 9,
              name: 'G3S10'
            },
            {
              id: 10,
              name: 'G4S8'
            },
            {
              id: 11,
              name: 'G4S11'
            },
            {
              id: 12,
              name: 'G4S12'
            }
          ]
        },
      ]
    }
  },
  methods: {
    click (i, event, source = 'click') {
      EventBus.$emit('DatosCaract', this.valuesCaracteristicas.name)
      const button = this.buttons[i]

      if (button && typeof button.handler === 'function') {
        button.handler(i, event, { source })
      } else {
        alert('Por default')
      }
    },
    cerrarModal () {
      this.$modal.hide('definicionCaract')
    },
    selectCaracteristica (option) {
      if (option == null) {
        this.tituloCaracteristica = 'Especifica carácterística.'
        this.activarSeleccionado(0)
      } else {
        this.tituloCaracteristica = option.name
        this.activarSeleccionado(option.id)
      }
    },
    activarSeleccionado (identificador) {
      for(var i= 0; i < this.caracteristicas.length; i++) {
        if(this.caracteristicas[i].id == identificador) {
          this.caracteristicas[i].activo = 1

          
          switch (this.caracteristicas[i].tipo) {
            case 1:
              this.optionsDefinicion = this.caracteristicas[i].datos
              break
            case 2:
              this.text1 = this.caracteristicas[i].datos[0].valor 
              this.text2 = this.caracteristicas[i].datos[1].valor 
              break
            default:
              this.text1 = 0
              this.text2 = 0
          }
        } else {
          this.caracteristicas[i].activo = 0
        }
      }
    }
  }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style src="vue-flexboxgrid/dist/vue-flexboxgrid.css"></style>
<style scoped>
#contenido{
    width: 90%;
    height: 100%;
    margin-left: 5%;
}
.guardarCaracteristica{
    background-color: #1d912a;
    color:#ffffff;
    border-radius: 4px 4px 4px 4px;
    border: none;
    width: 144px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 56px;
    margin-top: 24px;
}
.guardarCaracteristica:hover{
  background-color: #066911;
  transition:  0.5s ease;
  cursor:pointer;
}
.tituloCaract{
  font-family: 'Avenir_Next_Bold';
  color: #53565A;
  font-size: 30px;
  cursor: default;
}
.tituloValores{
  font-family: 'Avenir_Next_Bold';
  color: #53565A;
  font-size: 16px;
  cursor: default;
}
.barraSup{
    padding: 15px 20px 0px 0px;
}
.bloqueCaract{
  margin-top: 150px;
  height: 350px;
}
.inputMinMax{
  font-family: 'Avenir_Next_Regular';
    border: 1px solid rgba(0, 0, 0, 1);
    opacity: .5;
    border-radius: 4px;
    width: 320px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 16px;
}
.ocultar{
  display: none !important;
}
</style>
