<template>
  <v-container>
    <v-row class="text-center">
      <v-col>
        <h1 class="font-weight-bold mb-2">
        Nueva Generación de Rutas
        </h1>
      </v-col>
      <v-col cols="12">
        <v-row>
          <v-col cols="4" class="bloqueGrupo" v-for="acc in acciones" :key="acc.accion">
            <div class="borde" @click="irModulo(acc.accion)">
            <div v-if="acc.accion === 1">
              <p class="titCurso">Segmentar clientes</p>
            </div>
            <div v-if="acc.accion === 2">
              <p class="titCurso">Asignación cartera</p>
            </div>
            <div v-if="acc.accion === 3">
              <p class="titCurso">Otro</p>
            </div>
            </div>
          </v-col>
        </v-row>
      </v-col>
      <v-dialog
        v-model="dialSelectArb"
        persistent
        max-width="400px"
        >
        <v-card>
        <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-select
                v-model = "valueArboles"
                :items = "optionsArbol"
                label="Tipo Árbol"
              ></v-select>
            </v-col>
            <v-col cols="12">
              <v-btn
                color="primary"
                @click="obtenerAcciones"
              >
                Guardar
              </v-btn>
              <v-btn 
                @click="dialSelectArb = !dialSelectArb"
                text>
                Cancel
              </v-btn>
            </v-col>
          </v-row>
        </v-container>
        </v-card-text>
        </v-card>
      </v-dialog>
    </v-row>
  </v-container>
</template>
<script>

export default {
  name: 'contIni',
  data: () => ({
    dialSelectArb: false,
    valueArboles: 1,
    optionsArbol: [1,2,3],
    acciones: [
      {
        accion: 1
      },
      {
        accion: 2
      },
      {
        accion: 3
      }
    ],
    acciones1: []
  }),
  methods: {
    async obtenerAcciones () {
      var noEmpleado = '193413'
      const requestOptions = {
        method: "GET"
      };
      const response = await fetch(`http://localhost:9986/hawkeye/nuevaruta/acciones/${noEmpleado}`, requestOptions)
      const data = await response.json()
      this.acciones1 = data
    },
    async obtenerArboles () {
      var noEmpleado = '193413'
      const requestOptions = {
        method: "GET"
      };
      const response = await fetch(`http://localhost:9986/hawkeye/nuevaruta/indicadores/${noEmpleado}`, requestOptions)
      const data = await response.json()
      this.acciones1 = data
    },
    async obtenerArbol () {
      var idArbol = 1
      const requestOptions = {
        method: "GET"
      };
      const response = await fetch(`http://localhost:9986/hawkeye/nuevaruta/arbol/${idArbol}`, requestOptions)
      const data = await response.json()
      this.acciones1 = data
    },
    irModulo (idModulo) {
      switch (idModulo) {
        case 1:
          this.dialSelectArb = true
          break
        case 2: 
          alert('Implementación no disponible!!!')
          break
        default: 
          alert('opción no valida')
      }
    },
    cargarArbol () {
      this.obtenerAcciones()
      //this.$router.push('/segmentacion')
    }
  }
};
</script>
<style src="vue-flexboxgrid/dist/vue-flexboxgrid.css"></style>
<style scoped>
#contenido{
  width: 100%;
}
.bloqueGrupo{
  padding-left: 7.5%;
}
.borde{
  cursor: pointer;
  width: 303px;
  height: 239px;
  border-radius: 0px 0px 30px 30px;
  -moz-border-radius: 0px 0px 30px 30px;
  -webkit-border-radius: 0px 0px 30px 30px;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.05);
}
.borde:hover{
  background-color: #1D912A;
  transition:  0.5s ease;
  color: white;
}
</style>
