<template>
  <v-app>
    <v-app-bar
      app
      color="white"
      align-content="center"
      :min-height="anchoBarra"
      class="bloquePrin"
    >
    <v-container class="black--text margenElmentos">  
      <v-row no-gutters>
        <v-col md="3">
        <v-card
          class="d-flex justify-end pa-2"
          outlined
          tile
        >
          <v-img
            :src="require('./assets/fonts/svg/srcyc_logo.svg')"
            class="my-3"
            contain
            height="70"
          />
        </v-card>
      </v-col>
      <v-col
        md="6"
      >
        <v-card
          class=" d-flex justify-center pa-2"
          outlined
          tile
        >
          <v-img
            :src="require('./assets/fonts/svg/ba_logo.svg')"
            class="my-3"
            contain
            height="75"
          />
        </v-card>
      </v-col>
      <v-col
        md="2">
        <v-card
          flat
          class="pa-2 text-xs-center"
          outlined
          tile
        >
         <h3> Sergio Hernández Emmert </h3>
         <h5> 0900 Ingeniero en sistemas</h5>
         <h5> Gerencia 998 Lindavista - Gustavo A. Madero</h5>
        </v-card>
      </v-col>
      <v-col
        md="1">
        <v-card
          class="pa-2 text-xs-center"
          outlined
          tile
        >
          <h5> 27/04/2019 </h5>
          <h5> 13:30 hrs </h5>
          <h5> México (08)A </h5>
        </v-card>
      </v-col>
      <v-col col="12">
        <v-card
          class="d-flex justify-end pa-2"
          outlined
          tile
        >
          <v-icon
            color="primary"
            left
            :size="tamañoIcon">
            mdi-credit-card
          </v-icon>
          <v-icon
            color="primary"
            left
            :size="tamañoIcon">
            mdi-play-circle-outline
          </v-icon>
          <v-icon
            color="primary"
            left
            :size="tamañoIcon">
            mdi-email
          </v-icon>
          <v-icon
            color="primary"
            left
            :size="tamañoIcon">
            mdi-bell
          </v-icon> 
          <v-icon
            color="primary"
            left
            :size="tamañoIcon">
            mdi-alert-circle
          </v-icon> 
          <v-icon
            color="primary"
            left
            :size="tamañoIcon">
            mdi-export
          </v-icon> 
        </v-card>
      </v-col>
    </v-row>
    </v-container>
    </v-app-bar>
    <v-main>
      <!--
      <router-view />
      -->
      <Rutas class="contenido"/>
    </v-main>
  </v-app>
</template>

<script>
//import Segmentacion from './components/Segmentacion/contIni';
import Rutas from './components/Rutas/contIni'

export default {
  name: 'App',

  components: {
    Rutas//,
    //Segmentacion,
  },

  data: () => ({
    anchoBarra: 160,
    tamañoIcon: 30
  }),
};
</script>
<style scoped>
.contenido{
  margin-top: 110px;
}
.bloquePrin{
  border-bottom: 1px solid rgb(8, 201, 2) !important;
}
.margenElmentos{
  margin-top: 85px;
}
.borde{
  background-color: aqua;
}
</style>
